
header
{
	height: 150px;
	background: lightgray;
	overflow: hidden;
}
figure
{
	float:right;	
	height: 100px;
	margin-top: 1.5%;

}
h1
{
	float:left;
	margin: 3% 0 0 20%;
}
img
{
	max-width: 100%;
	max-height: 80%;
	border-radius: 5%;
}